# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
*.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sql
*.sqlite
*.sqlite3

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Editor directories and files
.vscode/
.idea/
*.swp
*~
.project
.pydevproject
*.sublime-project
*.sublime-workspace

# Custom
data/raw/
data/processed/embeddings.csv
